<section class="oneSec">
    <!--表格内容-->
    <div class="contentCenter">
        <!--表格表头-->
        <div class="centerTop">
            <ul>
                <li class="firstSp"><span></span></li>
                <li>
                    <a href="javascript:void(0)">
                        <span>知己知彼</span>
                        <svg role="img" class="down">
                            <use xlink:href="#down"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>资料库</span>
                        <svg role="img" class="down">
                            <use xlink:href="#down"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>站点信息</span>
                        <svg role="img" class="down">
                            <use xlink:href="#down"></use>
                        </svg>
                    </a>
                </li>
                <li class="lastSp">
                    <a href="javascript:void(0)">
                        <span>添加</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--添加样式-->
        <div class="list-center" verify-scope="tipStyle: 1">
            <div class="list-center-kind">
                <ul class="list-center-oul">
                    <li class="required">
                        <label>站点名称</label>
                        <input type="text" ng-model="edit.site_name">
                    </li>
                    <li class="required">
                        <label>站点类型</label>
                        <input type="text" ng-model="edit.site_type">

                    </li>
                    <li class="required">
                        <label>合作公司</label>
                        <input type="text" ng-model="edit.cooperation_company">
                    </li>
                    <li class="required">
                        <label>站点区域</label>
                        <input type="text" ng-model="edit.site_region">
                    </li>
                    <li class="required">
                        <label>科室</label>
                        <input type="text" ng-model="edit.department">
                    </li>
                    <li class="required">
                        <label>省公司规划</label>
                        <input type="text" ng-model="edit.provincial_company_planning">
                    </li>
                    <li class="required">
                        <label>设计院</label>
                        <input type="text" ng-model="edit.design_institute">
                    </li>
                    <li class="required">
                        <label>监理</label>
                        <input type="text" ng-model="edit.supervisor">
                    </li>
                    <li class="required">
                        <label>站点地址</label>
                        <input type="text" ng-model="edit.site_address">
                    </li>
                    <li>
                        <label>市公司重点专项</label>
                        <input type="text" ng-model="edit.company_special">
                    </li>
                    <li>
                        <label>总投资</label>
                        <input type="text" ng-model="edit.total_investment">
                    </li>
                    <li>
                        <label>集成费</label>
                        <input type="text" ng-model="edit.integration_fee">
                    </li>
                    <li>
                        <label>覆盖面积</label>
                        <input type="text" ng-model="edit.covering_area">
                    </li>
                    <li>
                        <label>覆盖范围</label>
                        <input type="text" ng-model="edit.coverage_range">
                    </li>
                    <li>
                        <label>站点经度</label>
                        <input type="text" ng-model="edit.longitude">
                    </li>
                    <li>
                        <label>站点纬度</label>
                        <input type="text" ng-model="edit.latitude">
                    </li>
                    <li class="required">
                        <label>是否选址</label>
                        <div class="box-upload-div">
                            <select class="box-upload-sel" ng-model="edit.whether_address">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                    </li>
                    <li class="required" ng-show="edit.whether_address == '是'">
                        <label>是否入场</label>
                        <div class="box-upload-div">
                            <select class="box-upload-sel" ng-model="edit.whether_admission">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                    </li>
                    <li class="required" ng-show="edit.whether_address == '是'">
                        <label>入场时间</label>
                        <input type="text" ng-model="edit.admission_time" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="admission-time">
                    </li>
                    <li class="required" ng-show="edit.whether_admission == '是'">
                        <label>是否完工</label>
                        <div class="box-upload-div">
                            <select class="box-upload-sel" ng-model="edit.whether_finished">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                    </li>
                    <li class="required" ng-show="edit.whether_admission == '是'">
                        <label>完工时间</label>
                        <input type="text" ng-model="edit.finished_time" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="finish-time">
                    </li>
                    <li class="required" ng-show="edit.whether_finished == '是'">
                        <label>是否开通</label>
                        <div class="box-upload-div">
                            <select class="box-upload-sel" ng-model="edit.whether_open">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                    </li>
                    <li class="required" ng-show="edit.whether_finished == '是'">
                        <label>开通日期</label>
                        <input type="text" ng-model="edit.open_time" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="open-time">
                    </li>
                    <li class="required" ng-show="edit.whether_open == '是'">
                        <label>单验证是否通过</label>
                        <div class="box-upload-div">
                            <select class="box-upload-sel" ng-model="edit.whether_verification">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                    </li>
                    <li class="required" ng-show="edit.whether_open == '是'">
                        <label>单验日期</label>
                        <input type="text" ng-model="edit.verification_time" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="ver-time">
                    </li>
                    <li class="required" ng-show="edit.whether_verification == '是'">
                        <label>是否初验</label>
                        <div class="box-upload-div">
                            <select class="box-upload-sel" ng-model="edit.whether_start_verification">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                    </li>
                    <li class="required" ng-show="edit.whether_verification == '是'">
                        <label>初验时间</label>
                        <input type="text" ng-model="edit.start_verification_time" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="start-time">
                    </li>
                    <li class="required" ng-show="edit.whether_start_verification == '是'">
                        <label>是否终验</label>
                        <div class="box-upload-div">
                            <select class="box-upload-sel" ng-model="edit.whether_end_verification">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                    </li>
                    <li class="required" ng-show="edit.whether_start_verification == '是'">
                        <label>终验日期</label>
                        <input type="text" ng-model="edit.end_verification_time" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="end-time">
                    </li>
                    <li class="required">
                        <label>联系人姓名</label>
                        <input type="text" ng-model="edit.contact_name">
                    </li>
                    <li class="required">
                        <label>联系人性别</label>
                        <div class="box-upload-div">
                            <select class="box-upload-sel" ng-model="edit.contact_sex">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </li>
                    <li class="required">
                        <label>联系人职位</label>
                        <input type="text" ng-model="edit.contact_position">
                    </li>
                    <li class="required">
                        <label>联系人电话</label>
                        <input type="text" ng-model="edit.contact_phone">
                    </li>
                    <li class="required">
                        <label>联系人微信</label>
                        <input type="text" ng-model="edit.contact_WeChat">
                    </li>
                    <li class="required">
                        <label>联系人邮箱</label>
                        <input type="text" ng-model="edit.contact_email">
                    </li>
                    <li class="required">
                        <label>联系人性格</label>
                        <input type="text" ng-model="edit.contact_character">
                    </li>
                    <li class="required">
                        <label>联系人脾气</label>
                        <input type="text" ng-model="edit.contact_temper">
                    </li>
                    <li class="required">
                        <label>联系人兴趣</label>
                        <input type="text" ng-model="edit.contact_hobby">
                    </li>
                    <li class="required">
                        <label>共同认识的人</label>
                        <input type="text"  ng-model="edit.know_people">
                    </li>
                    <li class="required">
                        <label>备注</label>
                        <input type="text" ng-model="edit.remark">
                    </li>
                </ul>
            </div>
            <div class="list-center-button">
                <button ui-sref="root.database.site.list[12]">取消</button>
                <button ng-verify="{control:'myform'}" ng-click="siteEditFun()">确定</button>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
</script>