<div class="box">
    <!--右边主体部分-->
    <div class="secThree">
        <header>
            <div class="headerDiv">
                <!--主体头部部分-->
                <div class="rightTop">
                    <div class="topLeft">
                        <h2>客户关系管理平台</h2>
                    </div>
                    <div class="topRight">
                        <a href="javascript:void(0)">
                            <svg role="img" class="news">
                                <use xlink:href="#news"></use>
                            </svg>
                            <span>信息</span>
                        </a>
                        <a href="javascript:void(0)">
                            <svg role="img" class="quit">
                                <use xlink:href="#quit"></use>
                            </svg>

                            <span>退出</span>
                        </a>
                        <a href="javascript:void(0)"><span>欢迎回来,艾佳</span></a>
                    </div>
                </div>
                <!--主体导航部分-->
                <div class="rightNav">
                    <ul>
                        <li class="disable"><a href="javascript:void(0)">
                            <svg role="img" class="left">
                                <use xlink:href="#left"></use>
                            </svg>
                        </a>
                        </li>
                        <li ng-click="list()" ng-class="{'active':menuClass=='listMenu'}" ui-sref=".list[12]" >
                            <a href="javascript:void(0)">列表</a>
                        </li>
                        <li ng-click="add()" ng-class="{'active':menuClass=='addMenu'}" ui-sref=".add[12]">
                            <a href="javascript:void(0)">添加</a>
                        </li>
                        <li ng-click="edit()" ng-class="{'active':menuClass=='editMenu','seeParent':idListd}">
                            <a href="javascript:void(0)">编辑</a>
                        </li>
                        <li ng-click="delete()" ng-class="{'active':menuClass=='deleteMenu','seeParent':idListd}">
                            <a href="javascript:void(0)">删除</a>
                        </li>
                        <!--<li ng-click="upload()" ng-class="{'active':menuClass=='uploadMenu','seeParent':idListd}">-->
                            <!--<a href="javascript:void(0)">上传附件</a>-->
                        <!--</li>-->
                        <!--<li ng-click="view()" ng-class="{'active':menuClass=='viewMenu','seeParent':idListd}">-->
                            <!--<a href="javascript:void(0)">查看附件</a>-->
                        <!--</li>-->
                        <li class="disable">
                            <a href="javascript:void(0)">
                                <svg role="img" class="left">
                                    <use xlink:href="#left"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <section class="content">
            <!--主体内容部分-->
            <div class="rightBottom">
            </div>
        </section>
    </div>
</div>


