.business {
  width: 1024px;
  height: 1024px;
}

.contract {
  width: 1024px;
  height: 1024px;
}

.down {
  width: 1024px;
  height: 1024px;
}
.left {
  width: 1024px;
  height: 1024px;
}
.follow {
  width: 1024px;
  height: 1024px;
}

.know {
  width: 1024px;
  height: 1024px;
}

.news {
  width: 1024px;
  height: 1024px;
}

.notice {
  width: 1024px;
  height: 1024px;
}

.quit {
  width: 1024px;
  height: 1024px;
}

.upload {
  width: 1024px;
  height: 1024px;
}

