<section class="oneSec">
    <!--表格内容-->
    <div class="contentCenter">
        <!--表格表头-->
        <div class="centerTop">
            <ul>
                <li class="firstSp"><span></span></li>
                <li>
                    <a href="javascript:void(0)">
                        <span>知己知彼</span>
                        <svg role="img" class="down">
                            <use xlink:href="#down"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>资料库</span>
                        <svg role="img" class="down">
                            <use xlink:href="#down"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>中标单位信息管理</span>
                        <svg role="img" class="down">
                            <use xlink:href="#down"></use>
                        </svg>
                    </a>
                </li>
                <li class="lastSp">
                    <a href="javascript:void(0)">
                        <span>编辑</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--添加样式-->
        <div class="list-center">
            <div class="list-center-kind">
                <ul class="list-center-oul">
                    <li class="required">
                        <label>中标单位名称</label>
                        <input type="text" ng-model="edit.company_name">
                    </li>
                    <li class="required">
                        <label>公司成立时间</label>
                        <input type="text" ng-model="edit.company_establish_time" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="time">

                    </li>
                    <li class="required">
                        <label>公司类型</label>
                        <input type="text" ng-model="edit.company_type">
                    </li>
                    <li class="required">
                        <label>主要产品和服务</label>
                        <input type="text" ng-model="edit.main_service_product">
                    </li>
                    <li class="required">
                        <label>注册资金</label>
                        <input type="text" ng-model="edit.registered_capital">
                    </li>
                    <li class="required">
                        <label>地区</label>
                        <input type="text" ng-model="edit.address">
                    </li>
                    <li class="required">
                        <label>经纬度</label>
                        <input type="text" ng-model="edit.latitude_and_longitude">
                    </li>
                    <li class="required">
                        <label>数据来源</label>
                        <input type="text" ng-model="edit.data_source">
                    </li>
                    <li class="required">
                        <label>公司邮箱</label>
                        <input type="text" ng-model="edit.company_email">
                    </li>
                    <li class="required">
                        <label>公司网站</label>
                        <input type="text" ng-model="edit.company_web">
                    </li>
                    <li class="required">
                        <label>企业电话</label>
                        <input type="text" ng-model="edit.company_tel">
                    </li>
                    <li class="required">
                        <label>联系人姓名</label>
                        <input type="text" ng-model="edit.contacts_username">
                    </li>
                    <li class="required">
                        <label>联系人职位</label>
                        <input type="text" ng-model="edit.company_tel">
                    </li>
                    <li class="required">
                        <label>联系人电话</label>
                        <input type="text" ng-model="edit.company_tel">
                    </li>
                    <li class="required">
                        <label>联系人微信</label>
                        <input type="text" ng-model="edit.company_tel">
                    </li>
                    <li class="required">
                        <label>联系人邮箱</label>
                        <input type="text" ng-model="edit.contacts_email">
                    </li>
                    <li class="required">
                        <label>联系人性格</label>
                        <input type="text" ng-model="edit.contacts_character">
                    </li>
                    <li class="required">
                        <label>联系人脾气</label>
                        <input type="text" ng-model="edit.contacts_temper">
                    </li>
                    <li class="required">
                        <label>联系人兴趣</label>
                        <input type="text" ng-model="edit.contacts_interest">
                    </li>
                    <li class="required">
                        <label>认识的人</label>
                        <input type="text" ng-model="edit.know_people">
                    </li>
                </ul>
            </div>
            <div class="list-center-button">
                <button ui-sref="root.database.unitInfo.list[12]">取消</button>
                <button ng-click="editFun()">确定</button>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();

</script>